[submodule "flare_backend"]
	path = flare_backend
	url = https://github.com/Belendia/flare_backend.git
[submodule "flare_frontend"]
	path = flare_frontend
	url = https://github.com/Belendia/flare_frontend.git
